<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
	default-lazy-init="false">


	<!-- 提供方应用名称信息，这个相当于起一个名字，我们dubbo管理页面比较清晰是哪个应用暴露出来的
	<dubbo:application name="rpc_demo"></dubbo:application>     -->
	
	<!-- 使用zookeeper注册中心暴露服务地址
	<dubbo:registry address="zookeeper://127.0.0.1:2181"
		check="false" subscribe="false" register=""></dubbo:registry>   
	 -->
	<!-- 要暴露的服务接口
	<dubbo:service interface="cn.test.dubbo.registry.service.TestRegistryService"
		ref="testRegistryService" />
 -->
 	<dubbo:annotation package="rpc.demo.api" />
    <dubbo:protocol name="dubbo" />
</beans>
